body {
  background-color:rgb(242, 199, 213);
  }
}

<ul>
  <li><a href="index.html">Naar HOME</a></li>
</ul>


  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 50px;
    padding-bottom: 80px;
    width: 50%; 
  }
