body {
  background-color:rgb(242, 199, 213);
  }

h1 {
  color:rgb(0, 0, 0);
  text-align:center;
}

p {
  font-family:Verdana;
  font-size: 20px
}

<ul>
  <li><a href="index.html">Naar HOME</a></li>
</ul>

